#navbar, #footer {
	background-color: #fff;
	box-shadow: 0 0 15px 0 #000;
	z-index: 1
}

#main-body {
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 0
}

#navbar .link-secondary:hover {
	color: #0f0;
}
