:root {
	--smoke-white: rgba(0, 0, 0, 0.01);
	--spring-green: #40f99b;
	--dark-blue: #617073;
	--pearly-purple: #9d69a3;
	--ivory-white: #f5fbef;
	--brink-red: #e85d75;
}

html {
	scroll-behavior: smooth;
}

#main-body {
	background-color: var(--smoke-white);
}

#navbar, #footer {
	background-color: #fff;
	box-shadow: 0 0 15px 0 #000;
}

#navbar .link-secondary:hover {
	color: #0f0;
}

.page-link {
	cursor: pointer;
}

.page-item .page-link {
	color: #41464b;
}

.page-item.active .page-link {
	background-color: rgb(0 0 0 / 20%);
	border-color: rgb(0 0 0 / 20%);
}

.btn-light:hover {
    color: #f9fafb;
    background-color: #41464b;
    border-color: #41464b;
}

.rounded-btn {
	border-radius: 30px;
}

.btn-spring-green {
	background-color: #46f99b;
	color: #61707d;
}

.btn-spring-green:hover {
	background-color: #9d69a3;
	color: #f5fbef;
}

.btn-purple {
	background-color: #9d69a3;
	color: #f5fbef;
}

.btn-purple:hover {
	background-color: #f5fbef;
	color: #61707d;
}

.btn-spring-green:hover {
	background-color: #9d69a3;
	color: #f5fbef;
}

.bg-green-gradient {
	background: rgb(0,212,255);
	background: linear-gradient(96deg, rgba(0,212,255,1) 0%, 
		rgba(9,121,50,1) 75%, rgba(0,0,0,1) 100%);
	color: #fff;
	z-index: -1;
}

.bg-sm-green-gradient {
	background: linear-gradient(0deg, rgba(34,195,109,1) 0%, rgba(229,250,255,1) 100%);
	color: #fff;
}

.bg-sm-green-gradient:hover {
	background: linear-gradient(0deg, rgba(7,136,67,1) 0%, rgba(229,250,255,1) 100%);
	color: #fff;
}

.shadow {
  box-shadow: 3px 3px 5px 6px #ccc;
}

.box-inset-shadow {
	box-shadow: inset 0 0 10px #000000;
	padding: 12px;
}

.bottom-shadow {
    box-shadow: 0 8px 6px -6px #000000;
}

.button-shadow {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
	rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
	rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.otto {
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.glow {
  color: #444;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

.form-check-input:checked {
    background-color: rgb(0 0 0 / 30%);
    border-color: rgb(0 0 0 / 30%);
}

.my-modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100vw;
	height: 100vh;
	z-index: 100;
	padding: 1.2rem;
}

.notify-modal {
	display: block;
}

.dashboard {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.12) 0%, 
		rgba(205,205,205,0.03) 50%, rgba(0,0,0,0.18) 100%);
}

@media (min-width: 768px) {
}



/* To top button styles */
#toTop {
	position: fixed;
	right: 24px;
	bottom: 24px;
	z-index: 10;
	border: 2px solid var(--spring-green);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color: var(--spring-green);
	display: flex;
	justify-content: center;
	align-items: center;
}

#toTop:hover {
	color: var(--brink-red);
	border: 2px solid var(--brink-red);
}

/* Navbar styles */
#navbar {
	position: sticky;
}

#logo {
	filter: drop-shadow(3px 3px 3px var(--dark-blue));
}

#logo h3 {
	color: var(--spring-green);
	font-family: 'Cinzel', sans-serif;
	font-size: 2.4rem;
	font-weight: 300;
	text-shadow: 2px 1px 1px var(--dark-blue);
}

#header-primary-items ul, #header-secondary-items ul {
	letter-spacing: 0.1em;
	padding: 0 1rem 0 1rem;
}

#header-primary-items .nav-link, 
#header-secondary-items .nav-link {
	text-align: center;
	vertical-align: middle;
	font-family: 'Kanit', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	text-transform: uppercase;
	color: var(--dark-blue);
	padding: 0.3rem 1.2rem;
}

#header-primary-items .nav-link:hover, 
#header-secondary-items .nav-link:hover {
	color: #fff;
	background-color: var(--dark-blue);
}

/* Carousel styles */
#mainCarousel {
	position: relative;
}

#mainCarousel svg {
	position: absolute;
	bottom: 0;
}

@keyframes zoom {
	0% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.2);
	}
}

.carousel-img {
	opacity: 0.3;
	animation: zoom 18000ms;
}

.img-middle-caption {
	width: 60%;
	font-family: 'Kanit', sans-serif;
	position: absolute;
	top: 15%;
	left: 20%;
	color: var(--dark-blue);
	text-align: center;
}

.img-middle-caption h5 {
	line-height: 0.9em;
	font-variant: small-caps;
	font-size: 4.5em;
	font-weight: 500;
}

.img-middle-caption h5 span {
	color: var(--pearly-purple);
}

.img-middle-caption p {
	display: none;
	font-size: 1.2em;
	font-weight: 300;
	color: #000;
}

#aboutUs h3, #allCampaigns h3, #ourMissions h3, #cta h3 {
	color: var(--dark-blue);
	font-family: 'Kanit', sans-serif;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 3rem;
}

#aboutUs p, #allCampaigns p, #ourMissions p, #cta p {
	color: var(--dark-blue);
	font-family: 'Kanit', sans-serif;
	font-size: 1.2rem;
	text-align: justify;
}

.wave-border {
	position: relative;
}

.wave-top {
	position: absolute;
	top: -1px;
}

.wave-bottom {
	position: absolute;
	bottom: -1px;
}

/* About us section styles */
#aboutUs {
	padding: 3rem;
}

#aboutUs h3 {
	text-align: left;
}

/* All campaigns section styles */
#allCampaigns {
	background: rgb(13,208,236);
	background: linear-gradient(0deg, rgba(13,208,236,1) 0%, 
		rgba(46,216,219,1) 67%, rgba(141,239,172,1) 100%, 
		rgba(141,239,172,1) 100%, rgba(13,208,236,1) 100%);
	padding: 9rem 0rem 9rem 0rem;
}

.campaign-grid {
	display: grid;
	gap: 1.8rem;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	align-items: center;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--dark-blue);
	font-weight: 300;
}

.campaigns-summary {
	margin: 1.5rem 0rem 1.5rem 0rem;
	font-family: 'Kanit', sans-serif;
}

#allCampaigns .card {
	border-radius: 16px;
	transition: all 300ms ease;
}

#allCampaigns .card:hover {
	opacity: 0.9;
	transform: translate(0rem, -0.3rem);
	box-shadow: 0px 6px 6px 6px rgba(0, 0, 0, 0.3);
}

#allCampaigns .btn {
	font-size: 1.2rem;
	font-weight: 200;
	border: 1px solid var(--spring-green);
	color:  var(--spring-green);
	border-radius: 30px;
	background-color: #fff;
	transition: all 100ms ease;
}

#allCampaigns .card:hover .btn {
	border: 1px solid var(--brink-red);
	background-color: var(--brink-red);
	color: #fff;
	font-weight: 500;
}

#allCampaigns .btn:hover {
	transform: translate(0rem, -0.1rem);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card-img-container {
	aspect-ratio: 16 / 9;
	opacity: 0.75;
}

/* Split session image styles */
#splitSectionImg img {
	opacity: 0.6;
}

/* Our mission session styles */
#ourMissions {
	background: rgb(97,112,115);
	background: linear-gradient(0deg, rgba(97,112,115,1) 0%, 
		rgba(203,207,208,1) 3%, rgba(227,229,230,1) 6%, 
		gba(243,244,244,1) 9%, rgba(252,252,252,1) 12%, 
		rgba(243,244,244,1) 100%, rgba(252,252,252,1) 100%, 
		rgba(252,252,252,1) 147%);
	padding: 3rem 6rem 9rem 6rem;
}

.mission i {
	color: var(--spring-green);
	opacity: 0.6;
	font-size: 6rem;
	transition: all 300ms ease;
}

.mission i:hover {
	opacity: 0.9;
}

.mission h5 {
	color: var(--brink-red);
	font-size: 2.1rem;
	margin-bottom: 3rem;
	font-weight: 200;
}

.mission p {
	font-weight: 200;
}

.mission {
	width: 300px;
	padding: 0 1rem;
	border-radius: 30px;
	transition: all 300ms ease;
}

.mission:hover {
	transform: translate(0, 3px);
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.mission:hover p {
	font-weight: 300;
}

/*Call to action section styles*/
#cta {
	padding: 6rem 3rem;
	background-color: var(--dark-blue);
	color: #fff;
}

#cta .btn {
	font-size: 1.5rem;
	padding: 0.9rem 3rem;
}

#cta h3, #cta p {
	color: var(--ivory-white);
}

#cta p {
	margin-bottom: 3rem;
	text-align: center;
}

@media (min-width: 768px) {
	.border-start-md {
		border-left: 1px solid #dee2e6;
	}
	
	/* All campaigns section styles */
	#allCampaigns {
		padding: 12rem 0rem 18rem 0rem;
	}
	
	.campaign-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1024px) {
	
	/* Navbar style */
	#header-primary-items .nav-link {
		padding: 0.9rem 0.9rem;
		border-bottom: 3px solid #fff;
	}
	
	#header-primary-items .nav-link:hover {
		color: var(--spring-green);
		background-color: #fff;
		border-bottom: 3px solid var(--spring-green);
	}
	
	#header-secondary-items .nav-link {
		font-weight: 500;
		border-left: 3px dotted var(--brink-red);
		border-radius: 30px;
		padding: 0.9rem 1.2rem;
	}
	
	#header-secondary-items ul:last-child {
		border-right: 3px dotted var(--brink-red);
		border-radius: 30px;
		padding-right: 0;
	}
	
	#header-secondary-items .nav-link:hover {
		color: var(--brink-red);
		background-color: #fff;
	}
	
	/* Carousel styles */
	.img-middle-caption {
		top: 24%;
		left: 20%;
	}
	
	.img-middle-caption p {
		display: inline;
	}
	
	/* About us section styles */
	#aboutUs {
		position: relative;
		padding: 3rem 6rem;
	}
	
	#aboutUs svg {
		position: absolute;
		bottom: 0;
	}
	
	/* All campaigns section styles */
	#allCampaigns {
		padding: 12rem 0rem 18rem 0rem;
	}
	
	.campaign-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* Call to action section styles */
	#cta {
		padding: 6rem 18rem;
	}
}





/* Search modal styles */
.search-modal {
	
}

.search-modal h3 {
	color: var(--brink-red);
	font-family: 'Kanit', sans-serif;
	font-size: 1.5rem;
	margin: 0;
}

.btn-brink-red-bold {
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
	color: var(--brink-red);
	border-radius: 30rem;
	border: 2px solid var(--brink-red);
	background-color: #fff;
}

.btn-brink-red-bold:hover {
	color: #fff;
	background-color: var(--brink-red);
}

.keyword-search {
	width: 100%;
	border: 1px solid var(--brink-red);
	color: var(--brink-red);
	border-radius: 30rem;
	padding: 0.3rem 1rem;
}

.keyword-search:focus-visible {
	outline: 2px solid var(--brink-red);
}

.keyword-search::placeholder {
	color: var(--brink-red);
}

.checkbox-brink-red {
	margin-right: 0.3rem;
	border: 1px solid var(--brink-red);
}

.checkbox-brink-red:checked {
	background-color: var(--brink-red);
}

.label-brink-red {
	font-family: 'Kanit', sans-serif;
	color: var(--brink-red);
	margin-right: 1rem;
}

.main-search-sort-select {
	font-family: 'Kanit', sans-serif;
	font-weight: 300;
	border: 1px solid var(--brink-red);
	color: var(--brink-red);
	padding: 0.1rem 1rem;
	border-radius: 30rem;
}

.main-search-sort-select option {
	font-weight: 300;
}

@media (min-width: 768px) {
	
	/* Main search modal styles */
	.modal-dialog {
	    max-width: 60vw;
	}
	
	.search-modal .modal-content {
		padding: 1rem 3rem;
	}
	
	.main-search-sort-select {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}





